# Customize
/node_modules
/.temp
/build
*.DS_Store

# Created by https://www.gitignore.io

### WebStorm ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm

*.iml

## Directory-based project format:
.idea/
# if you remove the above rule, at least ignore the following:

# User-specific stuff:
# .idea/workspace.xml
# .idea/tasks.xml
# .idea/dictionaries

# Sensitive or high-churn files:
# .idea/dataSources.ids
# .idea/dataSources.xml
# .idea/sqlDataSources.xml
# .idea/dynamic.xml
# .idea/uiDesigner.xml

# Gradle:
# .idea/gradle.xml
# .idea/libraries

# Mongo Explorer plugin:
# .idea/mongoSettings.xml

## File-based project format:
*.ipr
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties

###############################################################################
#[ Windows ]
###############################################################################
Thumb.db
ehthumbs.db
Desktop.ini
*.bak

###############################################################################
#[ Emacs ]
###############################################################################
*~


###############################################################################
#[ Vim ]
###############################################################################
.*.sw[a-z]
*.un~
Session.vim
.netrwhist


###############################################################################
#[ Sublime Text ]
###############################################################################
*.sublime-project
*.sublime-workspace

###############################################################################
#[ Chocolat ]
###############################################################################
*.chproj

###############################################################################
#[ Eclipse ]
###############################################################################
.project
.settings
.classpath


###############################################################################
#[ CokeKit ]
###############################################################################
*~ck.*
codekit-config.json


###############################################################################
#[ Sass ]
###############################################################################
.sass-cache
*.rbc
*.sassc


###############################################################################
#[ Ruby ]
###############################################################################
*.rbc
.rvmrc
.ruby-version
.ruby-gemsetion
.bundle
/vendor/bundle


###############################################################################
#[ Heroku ]
###############################################################################
Gemfile.lock


###############################################################################
#[ Python ]
###############################################################################
*.pyc
*.pyo

###############################################################################
#[ node ]
###############################################################################
npm-debug.log
node_modules/
bower_components/

###############################################################################
#[ merge file ]
###############################################################################
*.orig


###############################################################################
#[ SVN ]
###############################################################################
.svn


###############################################################################
#[ CVS ]
###############################################################################
CVS


###############################################################################
#[ VCS ]
###############################################################################
*.bk


###############################################################################
#[ packages.......... ]
###############################################################################
#*.7z
#*.dmg
#*.gz
#*.iso
#*.rar
#*.jar
#*.tar
#*.zip
#*.tgz


###############################################################################
#[ other ]
###############################################################################
.nbproject
.swp


###############################################################################
#[ Design File ]
###############################################################################
*.psd
*.ai

/.temp/
/tsdocs
